@model QMaze.Models.GameStatisticsModel

@{
    ViewBag.Title = "Statistics";
}

<h2>Game statistics</h2>

<p>
    You have to be logged in to see individual statistics. Click @Html.ActionLink("here", "PlayerStatistics", new { Id = "" }, null).
</p>

<div>
    <div>
        @using (Ajax.BeginForm("RefreshList", "Statistics", new AjaxOptions()
        {
            UpdateTargetId = "PlayerList",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            LoadingElementId = "loading"

        }))
        {
            @Html.LabelFor(m => m.OrderBy)
            @Html.DropDownListFor(m => m.OrderBy, new SelectList(Model.OrderBy))
        }

    </div>

</div>

<div id="PlayerList">
    @Html.Partial("_PlayerList", Model)
</div>
