@{
    ViewBag.Title = "About us";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"> Who are we? </h2>
    </div>
    <div class="panel-body">
        Trust us you don't wanna know :D
    </div>
</div>

