@{
    ViewBag.Title = "Home Page";
}

<p class ="jumbotron">
    Use your imagination and think of a cool pic right here.
    <img src="~/Images/maze.png" />
</p>

<p>
    Number of users online.<br />
    Number of available games<br />
    etc
</p>

<div>
    @Html.ActionLink("Game", "Index", "Game")
</div>

<div>
    Unity + SmartFoxServer tutorials:
    <br />
    <a target="_blank" href="http://www.smartfoxserver.com/download/sfs2x#p=installer">Download...</a>
    <br />
    <a target="_blank" href="https://www.youtube.com/watch?v=-FKgmIoMImY">Filmici</a> o povezivanju SFS + Unity + Baza
    <br />
    I jos ponesto korisno ima <a target="_blank" href="http://smartfoxserver.com/blog/integrate-a-website-login-with-smartfoxserver/">ovde</a> i 
    <a target="_blank" href="http://smartfoxserver.com/blog/tips-for-a-successful-smartfoxserver-deployment/">ovde</a> :)
</div>

