@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2 class="text-danger">An error occurred while processing your request.</h2>

<h2>@ViewBag.Message!</h2>
<h2>@Html.ActionLink("Home", "Index", "Home")</h2>

