
@{
    ViewBag.Title = "Play!";
}

<h2>Q-Maze</h2>

<div>
    Note: Make the link a picture <br /> 
    <a href="~/web/web.html" target="_blank">Start playing!</a>
</div>

<div class="jumbotron">
   Rules:
</div>


