@model QMaze.Models.SetupGameModel

@{
    ViewBag.Title = QMaze.Resources.HomeTexts.Play;
}

<div class="jumbotron">
    <div class="row">

        <div class="col-sm-8">
            <div class="container">
                <!-- <a href="~/web/web.html" target="_blank">Start playing!</a>-->
                <a href='@Url.Action("Start", "Game", new { playerId = "", level = Model.SelectedLevel }, null)'><img src="~/favicon.ico" alt=QMaze.Resources.HomeTexts.Play style="border:0;" class="img-responsive"></a>
            </div>
        </div>

        <div class="col-lg-4">


            <div>@Html.LabelFor(m => m.SelectedLevel)</div>
            <div>
                @using (Html.BeginForm("LevelSelected")) 
                {                
                    @Html.DropDownListFor(m => m.SelectedLevel, new SelectList(Model.Levels, "Value", "Text")) 
                }
                <!--//, "", new { onchange = "submit();" })-->
                
            </div>
            
        </div>
        
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Rules</h2>
    </div>
    <div class="panel-body">
        ...
    </div>
</div>


