.navbar-inverse {
  background-image: url(/Images/navbar.png);
  background-color: #25470b;
  border-color: #769712;
}
.navbar-inverse .navbar-brand {
  color: #c27230;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #e7b899;
}
.navbar-inverse .navbar-text {
  color: #c27230;
}
.navbar-inverse .navbar-nav > li > a {
  color: #c27230;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #e7b899;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu {
  background-color: #25470b;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a {
  color: #c27230;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #e7b899;
  background-color: #769712;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #769712;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #e7b899;
  background-color: #769712;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #e7b899;
  background-color: #769712;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #e7b899;
  background-color: #769712;
}
.navbar-inverse .navbar-toggle {
  border-color: #769712;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #769712;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #c27230;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #c27230;
}
.navbar-inverse .navbar-link {
  color: #c27230;
}
.navbar-inverse .navbar-link:hover {
  color: #e7b899;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #c27230;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e7b899;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e7b899;
    background-color: #769712;
  }
}